a { color:#0D0DFF; } 
a:visited { color:#904C8D; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_7062c2b0 th { border: 1px solid #8C8C8C;  } 
#table_7062c2b0 td { border: 1px solid #8C8C8C;  } 
body { background-color:#D0C8D2; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:24pt; font-family:'Times New Roman', Times, serif; color:#000000;  }
#img_1f6374ba { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
.textstyle3 { font-size:13pt; font-family:'Times New Roman', Times, serif; color:#000000;  }
#table_7062c2b0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:50%; height:150px; background-color:#FFFFFF; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_12d1eed0 {  }
.textstyle4 { text-align:left; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_192b9a7 {  }
#cell_e6feb80 {  }
#cell_5616e585 {  }
#cell_2fe2d46c {  }
#cell_2386f5af {  }
#cell_286f15fa {  }
#cell_19a214ce {  }
#cell_7771ed8c {  }
#cell_29c31724 {  }
#cell_366cb74c {  }
#cell_7901585d {  }
#cell_2a63c6c8 {  }
#cell_7bfc192b {  }
#cell_4466483b {  }
#cell_5263dfac {  }
#cell_2ba0dbc0 {  }
#cell_5d26a4c5 {  }
#cell_22f72509 {  }
#cell_5c9515a7 {  }
.textstyle6 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
